input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
th {
  border: 1px solid black;
  padding-left: 5px;
  padding-right: 5px;
}
td {
  padding-right: 5px;
  padding-left: 5px;
}
.inputList {
  width: 150px;
}
.inputListMed {
  width: 70px;
  text-align: center;
}
.inputListSm {
  width: 50px;
  text-align: center;
}
.casePrice {
  border: transparent;
  background: transparent;
}
.casePrice:focus {
  border: 1px solid black;
  background: white;
}
.inputTable {
  border: 1px solid black;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  text-align: center;
}
.addRow {
  width: 30px;
  margin-left: 490px;
}
.alternateHighlight:nth-child(even) {
  background-color: #dae6ad;
}

.alternateHighlight td {
  border-collapse: collapse;
  border-right: 1px solid black;
}
.deleteRow {
  padding-top: -4px;
  color: #cc0000;
  cursor: pointer;
  float: right;
  margin-right: -30px;
  background: transparent;
  border: transparent;
}
.ghostRow {
  background-color: #f0f7d4;
  opacity: 0.7;
  border: 2px;
  border-style: outset;
}
.ghostRow:hover {
  border-style: inset;
  cursor: pointer;
}
.tableHeader {
  background-color: #526f7a;
  color: white;
}
.saveButton {
  position: fixed;
  top: 85px;
  right: 0;
  margin-right: 2px;
  font-family: arial;
  font-size: 15pt;
  color: #ffffff;
  cursor: pointer;
  background-color: darkred;
  border: 1px solid black;
  z-index: 2;
}
.volumesCheckBad {
  position: fixed;
  top: 85px;
  left: 0;
  margin-right: 2px;
  font-family: arial;
  font-size: 15pt;
  color: #ffffff;
  cursor: pointer;
  background-color: darkred;
  border: 1px solid black;
  z-index: 2;
}
.volumesCheckGood {
  position: fixed;
  top: 85px;
  left: 0;
  margin-right: 2px;
  font-family: arial;
  font-size: 15pt;
  color: #ffffff;
  cursor: pointer;
  background-color: green;
  border: 1px solid black;
  z-index: 2;
}
.submitForm {
  text-align: center;
}
.submitButton {
  margin-top: 10px;
}
.calendar {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  border-collapse: collapse;
}
.calendar td {
  border: 1px solid black;
  background-color: #f2f2f2;
  padding: 5px;
}
.center {
  text-align: center;
  margin: 0;
}
.popup {
  display: block;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0 50px 50px 50px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -357px;
  margin-top: -325px;
  z-index: 1;
  border: 1px solid black;
  border-collapse: collapse;
}
.popup h1 {
  height: 50px;
  line-height: 50px;
  background-color: #fff;
  margin: 0px 0px 0px 0px;
}
.redBorder {
  border-color: #cc0000;
}
.restrictWidth {
  max-width: 200px;
  word-wrap: break-word;
}
.closeButton {
  position: absolute;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
  top: 5px;
  right: 5px;
  padding-top: 2px;
  background: transparent;
  border: transparent;
  cursor: pointer;
  font-size: 15pt;
}
